.buyOrSell-section {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.616) 0%,
      rgba(0, 0, 0, 0.616) 100%
    ),
    url("../../assets/image/buy-or-sell.png") lightgray 50% / cover no-repeat;
  background-attachment: fixed;
}
