.css-13cymwt-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.css-b62m3t-container {
  padding-top: 8px;
  padding-bottom: 8px;
}
.css-1f43avz-a11yText-A11yText {
  padding-top: 8px;
  padding-bottom: 8px;
}
